html {
	height: 100%;
	width: 100%;
}

body {
	background: gray;
	background-image: url("astronomy_background.jpg");
	background-size: cover;                      
    background-repeat: no-repeat;
	height: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

.page-width {
	width: 1000px;
}

#wrapper {
	background-color: white;
	border: 1px solid #EEEEEE;
	margin: auto;
}

.embed-responsive-item {
	float: right;
}

.clear {
	clear: both;
}

footer {
	background-color: white;
	border: 1px solid #EEEEEE;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
}
