body {
	background-image: url("astronomy_background.jpg");
	background-size: cover;                      
    background-repeat: no-repeat;
}

#wrapper {
	width: 1000px;
	background-color: white;
	border: 1px solid #EEEEEE;
	margin: auto;
}

.embed-responsive-item {
	float: right;
}

.clear {
	clear: both;
}

footer {
	width: 1000px;
	background-color: white;
	border: 1px solid #EEEEEE;
	margin: auto;
}